header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

/*O que cada uma dessas tags faz?
    text-transform: uppercase (transforma todas as letras em letras maiúsculas)
    font-weight: bold (É o peso/intensidade da conte, nesse caso é negrito)
    text-decoration: none (É usado para definir a formatação do texto, nesse caso é nenhuma)*/
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}